
.goals-card {
  width: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 380px;
  color: #333333;
  font-family: poppins;
  text-align: center;
  padding: 2%;
  background: linear-gradient(135deg, #02010e 0%, #232630 100%);
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  cursor: pointer;
}

.goals-card:hover {
  transform: scale(1.05);
}

.goals-name {
  width: 15rem;
  font-weight: lighter;
  padding: 0%;
  color: #ffffff;
}

.goals-roll {
  text-align: center;
  width: 15rem;
  color: #ffffff;
}

.goals-name::after {
  content: '';
  height: 3px;
  width: 30%;
  display: block;
  border-radius: 2px;
  margin-left: 50%;
  background: #ffffff;
  transform: translateX(-50%);
  margin-top: 2%;
}

.goals-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  margin-bottom: 7%;
  -webkit-user-drag: none;
  transition: transform 0.2s;
}

.goals-image:hover {
  transform: scale(1.1);
}

.goals-image img {
  -webkit-user-drag: none;
  user-select: none;
  height: 100%;
  border-radius: 10px;
}
