body{
    margin: auto;
    background-color: black;
    cursor: url('/public/images/cursor.png'), auto;
}
.fpage{
    height: 100vh;
    width: 85%;
    background-color: black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-style: italic;
    color: ghostwhite;
    text-shadow: 2px 2px 2px  ghostwhite;
}

.Society-goals{
    color: black;
    margin: auto;
    background-color: #232627;
    width: 100%;
    height: 70vh;
    padding: 120px 0%;
    
}
.Society-goals .heading{
    height: 3.5rem;
    width: 100%;
    font-size: 2.5rem;
    color: black;
    background: white;
    letter-spacing: 0.5rem;
    font-family: "Be Vietnam Pro" , sans-serif;
    margin: auto;
    padding: 0%;

}
.heading {
    /* text-shadow: 2px 4px #232627; */
    text-align: center;
    
    
}




.goals-container {
    display: flex;
    gap: 8.5rem;
    flex-wrap: wrap;
    padding: 2% 7%;
    justify-content: center;
    user-select: none;
    overflow-y: scroll;
  }
  
  .goals-container::-webkit-scrollbar {
    display: none;
  }

  .goals-card {
    width: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 380px; 
    color: #333333;
    font-family: poppins;
    text-align: center;
    padding: 2%;
    background: linear-gradient(135deg, #02010e 0%, #232630 100%);
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .goals-card:hover {
    transform: scale(1.05);
  }
  
  .goals-name {
    width: 15rem;
    font-weight: lighter;
    padding: 0%;
    color: #ffffff;
  }
  
  .goals-roll {
    text-align: center;
    width: 15rem;
    color: #ffffff;
  }
  
  .goals-name::after {
    content: '';
    height: 3px;
    width: 30%;
    display: block;
    border-radius: 2px;
    margin-left: 50%;
    background: #ffffff;
    transform: translateX(-50%);
    margin-top: 2%;
  }
  
  .goals-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 7%;
    -webkit-user-drag: none;
    transition: transform 0.2s;
  }
  
  .goals-image:hover {
    transform: scale(1.1);
  }
  
  .goals-image img {
    -webkit-user-drag: none;
    user-select: none;
    height: 100%;
    border-radius: 10px;
  }
  
  
 
 h1{
  font-size: 45px;
  overflow: hidden;
  position: relative;
  color: white;
 }

@keyframes animation {
  25% {
    content: "Society";
    width: 7ch;
  }
  40% {
    width: 0ch;
  }
  75% {
    content: "Society";
    width: 7ch;
  }
  90% {
    width: 0ch;
  }
}
@keyframes blinking {
  100%{
   opacity: 0;
  }
}
